header nav {
  height: 100%;
  width: 100%;
}

header nav a{
  font-family: Arial, Helvetica, sans-serif;
  color: #f3a9ad;
  text-decoration: none;
  margin-top: 1.5rem;
  font-size: 12px;
}

.navbar{
  display: flex ;
  justify-content: center;
  gap: 3rem;
  /* border: 1px solid red */
}

.logo {
  margin-left: 10vw;
  margin-right: 10vw
}
/* .nav_palette, .nav_book {
}
.nav_about, .nav_contact{
  margin-right: 1rem;
  float: right;
  border: 1px solid red
} */

.homepage_text{
  position: absolute;
  bottom: 10rem;
  width: 75%;
  font-size: 1.2rem;
  color: #f3a9ad;
  left: 1rem;
}
.home_info {
  position: absolute;
  bottom: 1rem;
  display: flex;
  width: 100%;
  color: #f3a9ad;
}
li{
  font-size: 15px;
  display: flex;
  margin-left: 1rem;
  width: 20rem;
}

li p{
  width: 8rem;
  margin-top: 0px;
  margin-left: 5px;
}

.main_page {
  position: absolute;
  background-image: url('background green.png');
  width: 100vw;
  height:100vh;
  margin-top:-8px;
  margin-bottom:-8px;
  margin-left:-8px;
  margin-right:-8px;
  z-index: -2;
}

.mainpage{
  height: 90%;
  width: 100%;
  /* border: 1px solid white */
}
.main_pic{
  position: absolute;
  margin-top: -64px;
  height: 65%;
  width: 100%;
  z-index: -1;
  opacity: 70%;
}
.logo{
  width: 108px;
  height: 64px;
  cursor: pointer;
}

.every_other_page {
  position: absolute;
  background-image: url('white background june.png');
  width: 100vw;
  height:100vh;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index: -2;
}
