
header nav {
    height: 100%;
    width: 100%;
  }
  
  header nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: #f3a9ad;
    text-decoration: none;
    margin-top: 1.5rem;
    font-size: 12px;
  }
  
  .navbar{
    display: flex ;
    justify-content: center;
    gap: 15rem;
    /* border: 1px solid red */
  }
  
  .logo {
    margin-left: 10vw;
    margin-right: 10vw
  }

  
  .logo{
    width: 108px;
    height: 64px;
    cursor: pointer;
  }
  
  .every_other_page {
    position: absolute;
    background-image: url('white background june.png');
    width: 100vw;
    height:100vh;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: -2;
  }
  .main_page {
    position: absolute;
    background-image: url('background green.png');
    width: 99.1vw;
    height:100vh;
    margin-top:-8px;
    margin-bottom:-8px;
    margin-left:-8px;
    margin-right:-8px;
    z-index: -2;
  }
  .mainpage{
    height: 90%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    /* border: 1px solid white */
  }
  .main_pic{ 
    position: absolute;
    margin-top: -64px;
    height: 100vh;
    width: 99.1vw;
    z-index: -1;
    opacity: 70%;
  }
  .home_info {
    position: absolute;
    bottom: -15rem;
    display: flex;
    width: 100%;
    color: #f3a9ad;
    /* border: solid 1px blue; */

  }
  li{
    font-size: 15px;
    display: flex;
    margin-left: 1rem;
    width: 30rem;
    /* border: solid 1px red; */
    /* justify-content: center; */
  }
  li a{
    color:#f3a9ad;
    text-decoration: none;
  }
    
    li p{
      /* border: solid 1px red; */
      width: 15rem;
      margin-top: 0px;
      margin-left: 5px;
    }
  .homepage_text{
    position: absolute;
    bottom: -9rem;
    width: 75%;
    font-size: 1.5rem;
    color: #f3a9ad;
    left: 1rem;
  }

@media only screen and (max-width: 1250px){
  .navbar{
    display: flex ;
    justify-content: center;
    gap: 5rem;
    /* border: 1px solid red */
  }

  .main_page {
    position: absolute;
    background-image: url('background green.png');
    width: 100vw;
    height:100vh;
    margin-top:-8px;
    margin-bottom:-8px;
    margin-left:-8px;
    margin-right:-8px;
    z-index: -2;
  }

  .main_pic{ 
    position: absolute;
    margin-top: -64px;
    height: 65%;
    width: 100%;
    z-index: -1;
    opacity: 70%;
  }
  .home_info {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 100%;
    color: #f3a9ad;
  }
  li{
    font-size: 15px;
    display: flex;
      margin-left: 1rem;
      width: 20rem;
    }
    
    li p{
      width: 8rem;
      margin-top: 0px;
      margin-left: 5px;
    }
  .homepage_text{
    position: absolute;
    bottom: 10rem;
    width: 75%;
    font-size: 1.2rem;
    color: #f3a9ad;
    left: 1rem;
  }
}


.palette_main{
  /* border: 1px solid red; */
  width: 100%;
  height: 80%;
  /* margin-left: 10%; */
  margin-top: 5%;
  font-size: 3rem;
  background-image: url('palette main pic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  /* border: 1px solid #6b4b3d; */
}
.palette_main_text{
  width: 70%;
  font-size: 4.75rem;
  padding: 5rem;
  color:  #6b4b3d;
}

.book_appointment{
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 6%;
  font-size: 3.5rem;
  text-align: center;
  color:  #6b4b3d;
}

.courses{
  width: 100%;
  height: 100%;
  padding-left: 8rem;
  padding-top: 4rem
}
.course{

}
.course_border{
  border: 1px solid #6b4b3d;
  border-radius: 2rem;
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.booking_img{
  width: 1rem;
}
.course_text{
  margin-top: 3.5rem;
  font-size: 23px;
  margin-left: -2rem;
  color:  #6b4b3d;
}
.course_amount{
  font-size: 3rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  color:  #6b4b3d;
}
.course_amount_money{
  height: 0;
  font-size: 1.5rem;
  display: flex;
}
.course_amount_money div{
  padding-right: .5rem;
}